{% for t in transactions %}
<div id="b{{ t.btransid }}" class="{% if loop.index % 2 %}recordodd{% else %}recordeven{% endif %} {% if t.future %}future{% endif %}">
    <span class="irow0">
        <button type="button" onclick="return MW.comm.sendBankDelete('{{ t.bacctid }}', '{{ t.btransid }}');">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button type="button" onclick="return MW.comm.getBankEdit('{{ t.btransid }}');">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
    </span>
    <span class="rdate">{{ t.transdate}}</span>
    <span class="rnum">{{ t.numnote }}</span>
    <span class="{{ t.whomclass }}">{{ t.showdetails }}</span>
    {% if t.updown == '+' %}
    <span class="rup">+{{ t.showamt }}</span>
    <span class="rdown"></span>
    {% else %}
    <span class="rup"></span>
    <span class="rdown">-{{ t.showamt }}</span>
    {% endif %}
    <span class="recon"><input type="checkbox" {% if t.reconciled %}checked{% endif %}
        onclick="return MW.comm.toggleReconciled('{{ t.btransid }}', this.checked);" ></span>
    {% if t.runningtotal >= 0 %}
    <span class="rbalpos">{{ t.showtotal }}</span>
    {% else %}
    <span class="rbalneg">{{ t.showtotal }}</span>
    {% endif %}
</div>
{% endfor %}
