<form name="beditsingle" id="beditsingle">
    <table class="cleantable" width="300">
        <tr>
            <td colspan="2" style="box-shadow: 0px 1px 2px #999999;background-color: #ffffff;text-align:center;">
                {{ entry.bacctname }}
            </td>
        </tr>
        <tr>
            <td class="tdborderright">Action:<br>
                <select name="ttype" id="beditsingle-ttype" onChange="beditsingle_typechanged(this);">
                    <option value="d"{% if entry.type == 'd' %} selected{% endif %}>Deposit</option>
                    <option value="w"{% if entry.type == 'w' %} selected{% endif %}>Withdraw</option>
                    <option value="to"{% if entry.type == 'to' %} selected{% endif %}>Transfer Out</option>
                    <option value="ti"{% if entry.type == 'ti' %} selected{% endif %}>Transfer In</option>
                </select>
            </td>
            <td>Date:<br>
                <input type="text" name="transdate" id="beditsingle-transdate" size="10" value="{{ entry.transdate }}">
            </td>
        </tr>
        <tr>
            <td class="tdborderright">
                Num-Note:<br>
                <input type="text" size="10" placeholder="Num" name="numnote" id="beditsingle-numnote" value="{{ entry.numnote }}">
            </td>
            <td>Value:<br>
                <nobr>$<input type="text" size="10" name="amt" id="beditsingle-amt" value="{{ entry.amt }}" onChange="MW.util.checkValueDecimals(this, 2);"></nobr>
            </td>
        </tr>
        <tr>
            <td colspan="2">
            <div id="beditsingle-transblock" style="display: {% if entry.type == 'to' or entry.type == 'ti' %}block{% else %}none{% endif %}">
                Transfer <span id="beditsingle-transsay">{% if entry.type == 'to' %}To{% else %}From{% endif %}</span>:<br>
                <select name="bacctid_transferselected" id="beditsingle-bacctid_transferselected">
                    <option value="0">--none--</option>
                    {{ entry.account_select|safe }}
                </select>
            </div></td>
        </tr>
        <tr>
            <td colspan="2">
                Whom:<br>
                <input type="text" name="whom1" value="{{ entry.whom1 }}" id="beditsingle-whom1" size="45" style="margin-bottom: 4px;"/><br>
                <input type="text" name="whom2" value="{{ entry.whom2 }}" placeholder="Memo (optional)" size="45" />
            </td>
        </tr>
    </table>
    <div style="text-align:right; padding-top: 20px; padding-right: 25px;">
        <input type="hidden" name="bacctname" value="{{ entry.bacctname }}">
        <input type="hidden" name="btransid" value="{{ entry.btransid }}">
        <input type="hidden" name="bacctid" id="beditsingle-bacctid" value="{{ entry.bacctid }}">
        <input type="hidden" name="transferbtransid" value="{{ entry.transferbtransid }}">
        <input type="hidden" name="transferbacctid" value="{{ entry.transferbacctid }}">
        <input type="button" value="Cancel" onClick="MW.comm.cancelEdit('bank', '{{ entry.bacctid }}');">
        {% if entry.mode == 'edit' %}
        <input type="button" name="doitnew" VALUE="Duplicate (with Edits)" onClick="beditsingle_validate('B.ENTRY.ADDSAVE');">
        <input type="button" name="doit" VALUE="Save Edit" onClick="beditsingle_validate('B.ENTRY.EDITSAVE');">
        {% else %}
        <input type="button" name="doit" VALUE="Add New" onClick="beditsingle_validate('B.ENTRY.ADDSAVE');">
        {% endif %}
    </div>
</form><br>

<script>
    jQuery("#beditsingle-transdate").datepicker({ dateFormat: "yy-mm-dd" });

    function beditsingle_validate(in_sendjob) {
        if(jQuery('#beditsingle-transdate').val() == '') {
            alert("Please provide a transaction date.");
        } else if(jQuery('#beditsingle-numnote').val() == '') {
            alert("Please provide a number or note for this transaction.");
        } else if(jQuery('#beditsingle-amt').val() == '') {
            alert("Please provide the total amount for this transaction.");
        } else if(jQuery('#beditsingle-whom1').val() == '') {
            alert("Please provide the who/whom for this transaction.");
        } else if((jQuery('#beditsingle-ttype').val() == 'ti' ||
                   jQuery('#beditsingle-ttype').val() == 'to') && jQuery('#beditsingle-transferaccount').val() == '0') {
            alert("Please select the transfer account.");
        } else {
            MW.comm.sendCommand(in_sendjob);
        }
    }

    function beditsingle_typechanged(in_obj) {
        // shows/hides transfer selector
        if (in_obj.value == "ti") {
            // transfer in
            jQuery('#beditsingle-transsay').html('From');
            jQuery('#beditsingle-transblock').show('slow');
            jQuery('#beditsingle-whom1').val('[autofill accounts]');
            jQuery('#beditsingle-numnote').val('TRANS');
        } else if (in_obj.value == "to") {
            // transfer out
            jQuery('#beditsingle-transsay').html('To');
            jQuery('#beditsingle-transblock').show('slow');
            jQuery('#beditsingle-whom1').val('[autofill accounts]');
            jQuery('#beditsingle-numnote').val('TRANS');
        } else {
            // d (deposit) or w (withdrawal)
            jQuery('#beditsingle-transblock').hide('slow');
        }
    }

    // autocomplete (jQuery UI)
    jQuery('#beditsingle-whom1').autocomplete({ source: [ {{ entry.autocomplete|safe }} ] });
</script>
